*:not(svg) {
  font-family: Google arial, sans-serif;
  box-sizing: border-box;
}

.page {
  min-width: 320px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  margin: 11px 4px;
  padding: 0 15px;
  line-height: 32px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.button_primary {
  background: #1a73e8;
  border: 1px solid transparent;
  color: white;
  width: 80px;
  height: 36px;
}

.button_primary:hover {
  background: #2b7de9;
  color: white;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

.header {
  display: flex;
  font-size: 13px;
  align-items: center;
  height: 60px;
}

.page__header {
  justify-content: space-between;
  margin-top: 20px;
  padding: 6px 21px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  /* box-shadow: 0 2px 5px -5px rgba(64, 60, 67, 1); */
}

.header_search-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 830px;
}

.header__image-wrapper img {
  width: 92px;
  height: 30px;
  cursor: pointer;
}

.header__search-icon {
  display: none;
  width: 20px;
  height: 20px;
  color: #9aa0a6;
  fill: currentColor;
  margin-top: 1px;
}

.header__search-bar {
  align-items: center;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  display: flex;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  height: 46px;
  width: 83%;
  border-radius: 24px;
}

.header__search-bar:focus-within .header__search-icon {
  display: inline;
}

.header__search-bar:focus-within,
.header__search-bar:hover {
  background-color: #fff;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
  border-color: rgba(223, 225, 229, 0);
}

.header__search-bar:focus-within {
  width: 715px;
}

#___gcse_0 {
  padding-top: 4px;
  width: 100%;
}
#gsc-iw-id1 {
  display: flex;
  border: none;
  outline: none;
}

#gsc-i-id1 {
  font-size: 14px;
}

.gsc-search-button {
  display: none;
}

.header__search-icon_blue {
  width: 37px;
  height: 27px;
  padding-left: 10px;
  margin-top: 2px;
  cursor: pointer;
}

.header__search-bar:focus-within .header__search-icon_blue {
  border-left: 1px solid #c8cbce;
}

.header__sign-in-wrapper {
  display: flex;
  align-items: center;
}

.header__app-icon {
  width: 24px;
  height: 24px;
  padding: 8px;
  cursor: pointer;
  margin: 0 1px;
}

.app-icon_settings {
  margin-right: 5px;
}

.header__app-icon:hover {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 100%;
}

.header__button {
  margin: 0 8px 0 10px;
  padding: 0 10px;
}

#gs_cb50 {
  color: #9aa0a6;
}

.gsc-orderby {
  display: none;
}

#e1.z_.styleable-rootcontainer.b_ {
  /* background-color: #1a73e8 !important;  */
}

.gs-title {
  font-size: 20px !important;
}

.gs-title:hover {
  text-decoration: underline !important;
}

#resInfo-1 {
  margin-left: 150px;
}

.gsc-result {
  width: 700px !important;
  margin-left: 150px !important;
}

.gs-bidi-start-align {
  font-size: 14px;
}

.gsc-cursor-box {
  margin-left: 155px !important;
}

.gcsc-more-maybe-branding-root {
  display: none;
}

@media all and (max-width: 1080px) {
  .gsc-result {
    max-width: 80% !important;
    margin-left: 8%;
  }

  #resInfo-1 {
    margin-left: 8%;
  }
}
