@import url(reset.css);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

nav {
  height: 60px;
  position: relative;
}

nav menu {
  position: absolute;
  right: 160px;
  top: 48%;
  transform: translateY(-48%);
}

nav li {
  color: rgba(0, 0, 0, 0.87);
  display: inline;
  font-size: 13px;
  margin: 0 10px;
}

nav li:first-child {
  margin-right: 5px;
}

nav li:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav svg {
  border-radius: 15px;
  color: #5f6368;
  padding: 5px;
  position: absolute;
  right: 125px;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
}

nav svg:hover {
  background-color: #ecf0f1;
  cursor: pointer;
}

nav button {
  background-color: rgb(26, 115, 232);
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 9px 23px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}

nav button:hover {
  background-color: #2b7de9;
}

.image {
  height: 32vh;
  position: relative;
  margin-bottom: 10px;
}

.image img {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 300px;
}

#search {
  border: 1px solid #d8cece;
  border-radius: 20px;
  height: 44px;
  left: 50%;
  position: relative;
  text-align: center;
  transform: translateX(-50%);
  width: 582px;
}

#search:focus-within,
#search:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#search span {
  left: 2%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#search input {
  border: 0;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 93%;
}

#search input:focus {
  outline: none;
}

section button {
  background-color: #f8f9fa;
  border: 1px solid white;
  color: #202124;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  left: 49%;
  margin: 25px 10px;
  padding: 0 16px;
  position: relative;
  transform: translateX(-100%);
}

section button:hover {
  border: 1px solid #dadce0;
  cursor: pointer;
}

div section:last-child {
  padding: 0 0 20px;
}

div section:last-child p {
  font-size: 13px;
  position: relative;
  text-align: center;
}

div section:last-child a {
  margin-left: 5px;
}

footer {
  background-color: #ecf0f1;
  bottom: 0;
  color: rgba(0, 0, 0, 0.54);
  position: fixed;
  width: 100%;
}

footer p,
footer section {
  border-bottom: 1px solid #dfe6e9;
  padding: 15px 30px;
  font-size: 15px;
}

footer section {
  position: relative;
  height: 46px;
}

#left-menu {
  bottom: 50%;
  left: 20px;
  position: absolute;
  transform: translateY(50%);
}

#right-menu {
  bottom: 50%;
  position: absolute;
  right: 30px;
  transform: translateY(50%);
}

footer li {
  display: inline;
  padding: 10px;
}

footer li:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media all and (max-width: 720px) {
  #search{
    width: 84%;
  }

  footer section{
    height: 70px;
  }

  #left-menu{
    bottom: 66.6%;
  }

  #right-menu{
    bottom: 33.3%;
    display: block;
    left: 20px;
  }
}
